.header {
	width: auto;
	max-width: 100%;
	height: 10rem;
	display: flex;
	padding: 0;
	justify-content: space-between;
	align-items: center;
	background-color: #59048d;
	margin: 0;
}

.logo {
	font-size: 20rem;
	color: white;
}
.logo img {
	display: block;
	max-height: 15rem;
	padding-top: auto;
}

@media screen and (max-width: 700px) {
	nav ul {
		display: block;
		list-style: none;
		justify-content: space-around;
	}
}

@media screen and (min-width: 700px) {
	.nav ul {
		list-style: none;
		display: flex;
		margin: 0;
		padding-right: 4rem;
		border-bottom: 1px;
		border-color: #ffd700;
		max-width: 100%;
	}
}
.nav li {
	margin-left: 1.5rem;
	font-size: 1.25rem;
}

.nav a {
	text-decoration: none;
	color: #ffd700;
}

.nav a:hover,
.nav a:active,
.nav a.active {
	color: #e6fcfc;
}
