.image img{
    width: 20rem;
	height: 30rem;
	object-fit: cover;
	object-position: center;
}

.sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paypal {
align-items: center;
text-align: center;
margin: auto;
}