.responsiveImg {
	width: 30%;
	height: auto;
	padding-right: 2rem;
	object-fit: contain;
}

.container {
	width: 100%;
	display: flex;
}

.profile {
	width: 70%;
	margin: 0 auto;
	text-align: left;
	padding-bottom: 4rem;
}
